<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mars Rover: Nazi-Zombie Style</title>
</head>

<body>
  <input id="bam" type="submit" name="bam"/>
    <!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="public/bower_components/jQuery/jquery.min.js"><\/script>')</script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

  	<!-- APP CODE -->
  	<script>
    var socket = io.connect('http://127.0.0.1:8080/');

    var app = app || {};

    $(function(){
    	//SOCKET STUFF
    	socket.on("blast", function(data){
    		console.log(data.msg)
    	});


  	  $("#bam").click(function(e){
  		    socket.emit("blast", {msg:"bam!"}, function (data){
          console.log("sent blast");
        });
  	  });
    });

    </script>
    </body>
</html>
